# Địa chỉ của MedusaJS Backend (Phục vụ giỏ hàng, sản phẩm, v.v.)
NEXT_PUBLIC_MEDUSA_BACKEND_URL="http://localhost:9000"

# Địa chỉ của AI Service (Phục vụ gọi API profile, vton, stylist)
NEXT_PUBLIC_AI_SERVICE_URL="http://localhost:8000"
