# Địa chỉ của MedusaJS Backend (Phục vụ giỏ hàng, sản phẩm, v.v.)
NEXT_PUBLIC_MEDUSA_BACKEND_URL="http://localhost:9000"

# Địa chỉ của AI Service (Phục vụ gọi API profile, vton, stylist)
NEXT_PUBLIC_AI_SERVICE_URL="http://localhost:8000"

# Security (Internal API Auth)
NEXT_PUBLIC_INTERNAL_API_SECRET="your_super_secret_internal_key_here"